.border {
    height: 995px;
    width: 300px;
    border-left: 5px solid #9A9A9A;
    border-right: 5px solid #EEEEEE;
    border-top: 5px solid #9A9A9A;
    border-bottom: 5px solid #EEEEEE;
    /*border-style:inset; можно и так написать,не знаю как будет верно*/
}

.imgS {
    text-align: right;
    margin-bottom: -15px;
    margin-top: 0px;
    
}
.shekspir {
    text-align: right
}

.line-throught {
    text-decoration: line-through;
}

.autorSherspir {
    text-align: right;
    font-style: italic;
}

.naz1 {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}

.imgV {
    text-align: center;
    margin-bottom: -15px;
    margin-top: 0px;
}

.naz2 {
    font-weight: bold;
}

.vysockiy {
    text-align: center;
    font-family: cursive;
    font-size: 14px;
}

.autorVysockiy {
    text-align: right;
    font-family: cursive;
    font-size: 14px;
    font-style: italic;
}
.imgU {
    text-align: left;
    margin-bottom: -20px;
    margin-top: 0px;
}
.tost1 {
    font-weight: bold;
    font-size: x-large;
}

.tost {
    text-align: left;
    font-family: serif;
    font-size: 18px;
}

.autorNeiz {
    text-align: right;
    font-family: cursive;
    font-size: 14px;
    font-style: italic;
}