table {
    border-collapse: collapse;
    border: black 3px solid;
    margin: auto;
}

td {
    min-width: 50px;
    min-height: 50px;
    width: 100px;
    height: 100px;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: black;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: black;
}