div{
    border: 5px solid;
    border-left-color: grey;
    border-top-color: grey;
    border-bottom-color:gainsboro;
    border-right-color:gainsboro;
    font-family: Arial, Verdana , 'Times New Roman', Times, sans-serif;
    font-size: 14px;
    line-height: 21px;
    height: 1255px;
    width: 335px;
    
}

.centerimage{
    display: block;
    margin: 0 auto; 
}
.tost{
    line-height: 30px;
    font-size: 20px;
    margin-top: 0px;
}
.padd{
    padding-left: 15px;
    font-size: 17px;
    margin-top: auto;
}