body{
    font-family: Arial, Helvetica, sans-serif;
}
.ty{
    border: 3px black solid;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold ;
}
.yoo {
    border: 3px yellow groove;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold ;
}
.yo {
    border: 3px brown ridge;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold ;
}
.y {
    border: 3px tomato double;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold ;
}
.oy {
    border: 3px green dashed;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold ;
}
.ooy {
    border: 3px blue dotted;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold ;
}
.o {
    border: 5px grey inset;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold ;
}
.oo {
    border: 5px red outset;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold ;
}
.u{
    border: black solid 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    font-weight: bold ;
}
.uo{
    text-align: center;
    margin: 50px;
    margin-right: 200px;
    margin-left: 200px;
    border: black dotted 3px;
    font-weight: bold ;
}
.uy {
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: bold ;
}
.cho{
    border: black solid 3px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 650px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-weight: bold ;
}
.who{
    border: black solid 3px;
    margin-left: 680px;
    margin-right: 300px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold ;
}
.lox{
    border: black solid 3px;
    margin-left: 300px;
    margin-right: 650px;
    padding-left: 150px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 25px;
    font-weight: bold ;
}
.material-icons1{
    font-family: Material Icons;
    color: lightblue;
    font-size: 50px;
    font-weight: bold ;
}
.material-icons2{
    font-family: Material Icons;
    color: lightcoral;
    font-size: 70px;
    font-weight: bold ;
}
.material-icons3{
    font-family: Material Icons;
    color: chartreuse;
    font-size: 50px;
    font-weight: bold ;
}
.hapka{
    border: 10px violet solid;
    text-align: center;
    width: 230px;
    border-radius: 30px 0px 30px 0px;
    margin-top: 30px;
    margin-left: 41%;
    font-weight: bold ;
}
.hapka1{
    margin-left: 36%;
    font-weight: bold ;
}
.omon{
    border: 10px rgb(223, 42, 96) solid;
    width: 100px;
    height: 100px;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}
.jive{
    border: 10px lightseagreen solid;
    width: 100px;
    height: 100px;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}
.bel{
    border: 10px rgb(105, 212, 42) solid;
    width: 100px;
    height: 100px;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}
.hapka2{
    color: black;
    height: 100px;
    margin: 20px;
    margin-left: 30%;
    font-weight: bold ;
}
.hapka3{
    color: black;
    height: 100px;
    margin-left: 30%;
    font-weight: bold ;
}
.hapka4{
    margin: 20px;
    height: 90px;
    margin-left: 30%;
    text-align: right;
    font-weight: bold ;
}
.hapka5{
    height: 90px;
    margin-left: 42%;
    text-align: left;
    font-weight: bold ;
}
.hapka6{
    margin: 20px;
    height: 90px;
    margin-left: 30%;
    background-color: rgb(230, 49, 230);
    font-weight: bold ;
}
.hapka7{
    height: 90px;
    margin-left: 30%;
    font-weight: bold ;
}
.hapka8{
    margin: 20px;
    height: 90px;
    margin-left: 30%;
    text-align: center;
}
.hapka9{
    height: 90px;
    margin-left: 30%;
}

.hapka10 {
        display: block;
        width: 70%;
        margin: auto;
}
.vg{
    background-image: url("v.png");
    background-position: left center;
    background-repeat: repeat-y;
    background-size: 15px;
}
.vg1{
    background-image: url("v.png");
    background-position: right center;
    background-repeat: repeat-y;
    background-size: 15px;
}
}
.h{
    background-image: url("h.png");
    background-position: top center;
    background-repeat: repeat-x;
    background-size: 100px;
}
.hg1{
    background-image: url("h.png");
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 100px;
}
.Lv{
    background-image: url("Lv.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 32px;
}
.Lv1{
    background-image: url("Lv1.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 32px;
}
.Rv{
    background-image: url("Rv.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 32px;
}
.Rv1{
    background-image: url("Rv1.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 32px;
}
.text{
    text-align: center;
    padding: 40px;
    margin: 10px;
}